# Why Function?

In [ ]:
#grouping sattements in one block
# to perform specific task

# sum,diff, prd, div, rem, sqrt, pow, and others
# input process, output
# write on file, read from file
# save a database, and retrieve from database

In [1]:
def function_name():
    statements
    pass


def f1():
    print("Hello from Broadway")
    
for i in range(5):
    f1()

Hello from Broadway
Hello from Broadway
Hello from Broadway
Hello from Broadway
Hello from Broadway

In [4]:
def calc_sum():
    print(20+3)
    
calc_sum()

23

In [14]:

def sum(n1, n2):
    n1 = int(n1)
    n2 = int(n2)
    print(n1 + n2)
    
def sum2(n1, n2):
    n1 = int(n1)
    n2 = int(n2)
    return(n1 +n2)
    

#num1 = input("Enter first number?")
#num2 = input("Enter second number?")
#sum(num1,num2)
num1 = 6
num2 = 7
num2(num1, num2)

Enter first number? 15
Enter second number? 3
18

18

In [2]:
#Task

# Enter id : _1
# Enter name : Raj
# Enter Sub1 : _56
# Enter Sub2 : _54
# Enter SUb3 : _45
# Total : 155
# Average : 51.xxx
# Result : PASS
# Create functions to solve the result processing system 



def cal(s1, s2, s3) :
    tot = s1 + s2 + s3
    print("Total: ", tot)
    av(tot)


def av(total) :
    avg = total/3
    print("Average: ", avg)
    result(avg)

def result(div) :
    if div >= 50:
        res = "PASS"
    else:
        res = "FAIL"
    
    print("Result: ", res)


n_id = input("Enter your id: ")
name = input("Enter your name: ")
sub_1 = input("Enter your Math's marks: ")
sub_2 = input("Enter your Science's marks: ")
sub_3 = input("Enter your Nepali's marks: ")
sub_1 = int(sub_1)
sub_2 = int(sub_2)
sub_3 = int(sub_3)
cal(sub_1, sub_2, sub_3)

Enter your id:  1
Enter your name:  Arjun
Enter your math's marks:  50
Enter your Science's marks:  34
Enter your Nepali's marks:  54

Total:  138
Average:  46.0
Result:  FAIL

In [5]:
# Function
def f1():
    print("Hello")
def f2(num1, num2):
    print(num1+num2)
def f3():
    return 10+34
def f4(num1, num2):
    return num1+num2

In [2]:
f1()

Hello

In [6]:
f2("1 ", "Nepal")

1Nepal

In [7]:
va1 = f3()
print(var1)

44

In [9]:
var2 = f4(12, 56)
print(var2)

68

In [13]:
def f5(num1 = 0, num2 = 0):
    return num1 + num2
var3 = f5(num1= 7, num2= 8)
print(var3)

15